#title
{
    font-size: 52px;
    color:#e0dfba;
    background: url(https://images.pexels.com/photos/544268/pexels-photo-544268.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 10px;
}

body
{
    background: url( https://images.pexels.com/photos/1988502/pexels-photo-1988502.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Oswald;
    color:black;
    }

    /* Menu panel stiling starts*/
.menu
{
    text-align: center;
    color:#e0dfba;
    font-size: 35px;
    list-style-type: none;
    cursor: pointer;
    padding: 30px;
   
    
  
}
ul {
    background: url(https://images.pexels.com/photos/544268/pexels-photo-544268.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    border-radius: 0px;
    margin: 5px 5px;
  
}
li { 
    
    display: inline;
    padding: 10px;
    }

li:hover {
    background-color: gray;
    color:#e0dfba;
}


a {
    text-decoration: none;  /* Changing color of links */
    color:#e0dfba;
}


figure {
    display: inline-block;  padding: 0; margin:0;   /*Styling for the adding icons in for menu*/
}

.contact {
    border-right: 1px solid #e0dfba;
   }
    
   
hr {
    overflow: visible;
    padding: 0;
    border: none;
    border-top: medium double #e5e0a7;
    color:#e5e0a7;
    text-align: center;
    margin: 50px 0 5px 0;
}

/* Menu panel stiling finish*/






/*Blog styling starts*/
.date {
    text-transform: uppercase;
    letter-spacing: 0.2rem;   
    font-size: 13px;
    font-weight: lighter;
    text-align: right;
    margin-right: 22px
}
.blog {
    display: flex; flex-direction: row; justify-content: space-between;
}

.blogimg {
    object-fit: cover;              /*img for Home page and 2.1, 2.4*/
    width:450px;
    height:450px;
    border-radius: 40px;
    margin: 5px 10px;
    padding: 10 20px;
    
}
 

  h2 {
      text-align: center;
  }  

  
/*Blog styling ends*/

/*Astrological signs img styling starts*/

.sign {
    object-fit: cover;
    width:300px;
    height:280px;
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
}
 
/*Astrological signs img styling finish*/


/*Moon without a course styling starts */
.moonblog {
display: flex; flex-direction: row; justify-content: center;
}

.month {
    background-color: rgb(5, 46, 112);
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 25px;
    border-radius: 10px;
    border: solid 2px #e5e0a7;
   
  }
  .month:hover {
    background-color: gray;
    color:#e0dfba;
}
/*Moon without a course ends */


/*Services styling starts*/
table, th, td {
    border: 2px solid #e0dfba;
    border-collapse: collapse;
  }
  th, td {
    padding: 20px;
    text-align: left;
  }
  .price {
      background-color: #1479cc;
     
  }

  .service {
    text-align: center;
    background-color: #1479cc;
    text-transform: uppercase;
    
  }
 /*Services styling ends*/

 /*Icon styling starts*/
 .icon {
   
    width:30px;
    height:30px;
    border: none;
}
 /*Icon styling ends*/


/*Footer styling starts*/
.footer {
    clear:left;
}
/*Footer styling  ends*/


/*Sub-menu styling starts*/
#sub-menu{
    position: absolute;
    visibility: hidden;
    margin-top: -25px;
    background-color: #f2f7e3;
}

#sub-menu a {
    color:#000;
}

#sub-menu a:hover {
    background-color:#d2d3cd;
    color:black;
}
/*Sub-menu styling  ends*/

/*Active-menu styling starts*/
.active-menu {
    
}
.active-menu a {
    color:#f2f7e3;
    border-bottom: 4px solid #f2f7e3;
}
/*Active-menu styling  ends*/